@import url(https://fonts.bunny.net/css?family=fira-code:500);

:root{
    /* color variables */
    --bg-color: #434750;
    --focus-color: #3e3f46;
    --hower-color: #2e3030;
    --acsent-color: #da8750;
    --focus-acsent: #90b97d;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

h1 {
    margin-top: 2rem;
}
/* links */
a{
    color: var(--acsent-color);
}
a:hover{
    color: var(--focus-acsent);
    background-color: var(--hower-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
    color: rgb(187, 180, 158);
}